In [8]:
import sqlite3

In [9]:
from pprint import pprint

In [10]:
conn = sqlite3.connect('./database/sqlite/northwind.db')

In [11]:
cursor = conn.execute("""
   SELECT name 
     FROM sqlite_master
    WHERE type='table';
   """
)
tables = cursor.fetchall()
pprint(tables)

[('Categories',),
 ('sqlite_sequence',),
 ('CustomerCustomerDemo',),
 ('CustomerDemographics',),
 ('Customers',),
 ('Employees',),
 ('EmployeeTerritories',),
 ('Order Details',),
 ('Orders',),
 ('Products',),
 ('Regions',),
 ('Shippers',),
 ('Suppliers',),
 ('Territories',),
 ('OrdersByCityCount',)]

In [14]:
cursor = conn.execute("""
   SELECT sql
     FROM sqlite_master
    WHERE type = 'table' 
      AND name = 'Orders'
   """
)
orders_schema = cursor.fetchall()
pprint(orders_schema)

[('CREATE TABLE [Orders](\n'
  '   [OrderID]INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,\n'
  '   [CustomerID]TEXT,\n'
  '   [EmployeeID]INTEGER,\n'
  '   [OrderDate]DATETIME,\n'
  '   [RequiredDate]DATETIME,\n'
  '   [ShippedDate]DATETIME,\n'
  '   [ShipVia]INTEGER,\n'
  '   [Freight]NUMERIC DEFAULT 0,\n'
  '   [ShipName]TEXT,\n'
  '   [ShipAddress]TEXT,\n'
  '   [ShipCity]TEXT,\n'
  '   [ShipRegion]TEXT,\n'
  '   [ShipPostalCode]TEXT,\n'
  '   [ShipCountry]TEXT,\n'
  '   FOREIGN KEY ([EmployeeID]) REFERENCES [Employees] ([EmployeeID]) \n'
  '\t\tON DELETE NO ACTION ON UPDATE NO ACTION,\n'
  '\tFOREIGN KEY ([CustomerID]) REFERENCES [Customers] ([CustomerID]) \n'
  '\t\tON DELETE NO ACTION ON UPDATE NO ACTION,\n'
  '\tFOREIGN KEY ([ShipVia]) REFERENCES [Shippers] ([ShipperID]) \n'
  '\t\tON DELETE NO ACTION ON UPDATE NO ACTION\n'
  ')',)]

In [16]:
cursor = conn.execute("SELECT * from Orders limit 5;")

for row in cursor:
   print(f"\nrow: {row}")

row: (10248, 'VINET', 5, '2016-07-04', '2016-08-01', '2016-07-16', 3, 32.38, 'Vins et alcools Chevalier', '59 rue de l-Abbaye', 'Reims', 'Western Europe', '51100', 'France')

row: (10249, 'TOMSP', 6, '2016-07-05', '2016-08-16', '2016-07-10', 1, 11.61, 'Toms Spezialitäten', 'Luisenstr. 48', 'Münster', 'Western Europe', '44087', 'Germany')

row: (10250, 'HANAR', 4, '2016-07-08', '2016-08-05', '2016-07-12', 2, 65.83, 'Hanari Carnes', 'Rua do Paço, 67', 'Rio de Janeiro', 'South America', '05454-876', 'Brazil')

row: (10251, 'VICTE', 3, '2016-07-08', '2016-08-05', '2016-07-15', 1, 41.34, 'Victuailles en stock', '2, rue du Commerce', 'Lyon', 'Western Europe', '69004', 'France')

row: (10252, 'SUPRD', 4, '2016-07-09', '2016-08-06', '2016-07-11', 2, 51.3, 'Suprêmes délices', 'Boulevard Tirou, 255', 'Charleroi', 'Western Europe', 'B-6000', 'Belgium')

In [19]:
cursor = conn.execute("""
   SELECT OrderID,
          CustomerID,
          OrderDate
     from Orders
    limit 5;
   """)

for row in cursor:
   print(f"row: {row}")

ProgrammingError: Cannot operate on a closed database.

In [18]:

conn.close()